// main color definition
$ws-dark: #000000;
$ws-mid-gray: #525252;
$ws-light: #ffffff;
$ws-light-gray: #F6F6F6;
$ws-highlight: orange;

// background colors
$ws-bg-dark: $ws-dark;
$ws-bg-mid-gray: $ws-mid-gray;
$ws-bg-light: $ws-light;
$ws-bg-light-gray: $ws-light-gray;

// typo colors
$ws-text-light: $ws-light;
$ws-text-light-gray: #F6F6F6;
$ws-text-dark: $ws-dark;
$ws-text-mid-gray: $ws-mid-gray;
$ws-text-highlight: $ws-highlight;